body{
width:320px;
height:460px;
display:block;
border:1px #ccc solid;
padding:0;
margin:0;
}
.footBar{
height:50px;

width:320px;
position:fixed;
z-index:99;
margin:0;
bottom:0px;
padding:0;
}
.footBar a{
color:#aaa;
}
.footBar div{
padding:0;
margin-top:-3px;
}
.main{

width:320px;
height:410px;
}
.bottomMargin{

margin-top:50px;
}
.title-left{
width:50px;
margin-left:20px;
margin-top:20px;
font-size:28px;
}
.title-right{
width:200px;
float:right;
margin-top:-37px;
margin-right:20px;
}
.card{
width:260px;
margin-left:20px;
margin-top:20px;
background-color:#fff;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
border-radius:5px;
color:#666;
padding:10px;
font-size:14px;

}
.card1{

}
.card2{
position:relative;
top:-140px;
}
.card3{
position:relative;
top:-140px;
}
.card ul{
padding:0;
margin:0;

}
.card li{
margin-bottom:5px;
list-style:none;
}
.card h1{
font-weight:normal;
font-size:16px;
}

#googleMap{
height:100%;
width:100%;
margin-top:5px;
top:0px;
padding:0;
z-index: 0;
}

.trip{
width: 320px;
height:20px;
position: absolute;
top: 0;
left: 0;
z-index: 99;
}

.trip-left{
margin-top: 10px;
margin-left: 5px;
width:180px;
float: left;
}
.trip-right{
margin-top: 8px;
}
